<a href="https://colab.research.google.com/github/deepakatAviSoft/deepak_avisoft/blob/main/25_01_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b>1.</b> Print this pattern<br>
<pre>
0
12
345
6789
</pre>

In [ ]:
n = 1
count = 0
for i in range(4):
    for j in range(n):
        print(count, end="")
        count += 1
    n += 1

    print("")

0
12
345
6789

<b>2.</b> Factorial of a number. <br>

In [ ]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)

n = int(input())
fact(n)

5

120

<b>3.</b> Print this pattern. <br>
<pre>
    1
   2 3
  4 5 6
</pre>

In [ ]:
#pattern printing
#3
n = int(input())
spaces = n-1
count = 1
bucket1 = []
bucket2 = []
bucket3 = []
for i in range(1, n+1, 1):
    bucket1.append(i)
    for space in range(spaces-i+1, 0, -1):
        print(" ", end = "")
        bucket2.append(space)
    for num in range(1, i+1, 1):
        print(count, end = " " )
        count += 1
        bucket3.append(num)

    print()

5
    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

# Assignment 1

<b>1.</b> Given an array 'arr' containing 'n' elements, rotate this array left once and return it.
Rotating the array left by one means shifting all elements by one place to the left and moving the first element to the last position in the array.


Example:

Input: 'a' = 5, 'arr' = [1, 2, 3, 4, 5]<br>
Output: [2, 3, 4, 5, 1]

Explanation: We moved the 2nd element to the 1st position, and 3rd element to the 2nd position, and 4th element to the 3rd position, and the 5th element to the 4th position, and move the 1st element to the 5th position.

In [ ]:
arr = [1,2,3,4,5]
a = 5 #number of elements in the array

last_element = arr[a-1]
arr.pop(a-1)
arr.insert(0,a)


arr #output

[5, 1, 2, 3, 4]

<b>2.</b> You are given an array 'arr' of length 'n', consisting of integers.
A subarray is a contiguous segment of an array. In other words, a subarray can be formed by removing 0 or more integers from the beginning and 0 or more integers from the end of an array.
Find the sum of the subarray (including empty subarray) having maximum sum among all subarrays.
The sum of an empty subarray is 0.


Example :

Input: 'arr' = [1, 2, 7, -4, 3, 2, -10, 9, 1]


Output: 11


Explanation: The subarray yielding the maximum sum is [1, 2, 7, -4, 3, 2].

In [ ]:
arr = [1, 2, 7, -4, 3, 2, -10, 9, 1]
n = len(arr)

In [ ]:
bucket1 = []
bucket2 = []
for i in range(n):
    #print(arr[0:i])
    bucket1.append(sum(arr[0:i]))

for i in range(n):
    #print(arr[i:n])
    bucket2.append(sum(arr[i:n]))

max_from_bucket1 = max(bucket1)
max_from_bucket2 = max(bucket2)

if max_from_bucket1 > max_from_bucket2:
    max_sum = max_from_bucket1
else:
    max_sum = max_from_bucket2

In [ ]:
max_sum

11

<b>3.</b> Write a function to reverse a string without using any built-in reverse functions.

In [ ]:
string = "abcd"
reverse_string = string[::-1]
reverse_string

'dcba'

<b>4.</b>
Write a function to check if two strings are anagrams of each other.<br>

Example:<br>
    
Input 1: "listen"<br>
    
Input 2: "silent"<br>
    
Output: Are Anagrams: True<br>
        
Explanation<br>

function first removes spaces and converts both input strings to lowercase to <br>make the comparison case-insensitive.<br>
Then, it checks if the sorted list of characters in both strings is the same. <br>If they are the same, the strings are anagrams.<br>

The function returns True for this example because the characters in "listen" <br>can be rearranged to form "silent." If the characters were different or had<br> different frequencies, the function would return False.<br>

In [ ]:
def anagram_detector(string1, string2):
    return sorted(string1) == sorted(string2)


string1 = "listen"
string2 = "silent"

anagram_detector(string1, string2)

True

# Practice Questions...

## 1.
Write a program to print all the unique characters in a String. For instance, if the input string is “abcb”, the output will be the characters ‘a’ and ‘c’ as they are unique. The character ‘b’ repeats twice and so it will not be printed.

Input: abcab

Output: c

In [ ]:
string = 'abcab'
tray = {}
for char in string:
    if char not in tray:
        tray[char] = []
    tray[char].append(char)

for i in tray:
    if len(tray[i]) == 1:
        print(i)

c

## 2.
Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.


Sample Input :
120
200
40


Sample Output :
120 48
160 71
200 93

In [ ]:
def fahrenheit_to_celsius(start_f, end_f, step_size):
    f = start_f
    result = []
    while f <= end_f:
        celsius = int((f - 32) * 5/9)
        result.append(f)
        result.append(celsius)
        f = f + step_size
    return result

In [ ]:
start = 120
end = 200
step = 40

fahrenheit_to_celsius(start, end, step)

[120, 48, 160, 71, 200, 93]

## 3.
write a program to input an integer 'n' and print the sum of all its even digits and the sum of all its odd digits separately.

Digits mean numbers, not places! That is, if the given integer is "132456", even digits are 2, 4, and 6, and odd digits are 1, 3, and 5.


Example :

Input: 'n' = 132456
Output: 12 9

Explanation:

The sum of even digits = 2 + 4 + 6 = 12
The sum of odd digits = 1 + 3 + 5 = 9

In [ ]:
n = 132456
#n = input()
sum_even = 0
sum_odd = 0

while n > 0:
    digit = n % 10
    if digit % 2 == 0:
        sum_even = sum_even + digit
    else:
        sum_odd = sum_odd + digit
    n = n//10

In [ ]:
print("Sum of even Numbers",sum_even)
print("Sum of odd Numbers",sum_odd)

Sum of even Numbers 12
Sum of odd Numbers 9

## 4.
Write a program that takes a number as input and prints all its factors except 1 and the number itself.. If the number has only two factors (1 and the number itself), then the program should print -1.


Sample Input:
8

Sample Output:
2 4

Explanation of Sample Output 1 :
The factors for the number excluding 1 and itself are 2 and 4, so the output is 2 4.

In [ ]:
num = 8
factors = []
for i in range(1, num+1, 1):
    if num % i == 0:
        factors.append(i)

n = len(factors)

if n == 2:
    print(-1)
else:
    print(factors[1:-1])

[2, 4]

## 5.

Write a program to find x to the power n (i.e. x^n). Take x and n from the user. You need to print the answer.

Note : For this question, you can assume that 0 raised to the power of 0 is 1

Sample Input :
 3 4

Sample Output :
81

In [ ]:
n = int(input("Enter the Number: "))
p = int(input("Enter the power: "))
pow(n,p)

Enter the Number: 3
Enter the power: 4

81

## 6.
Write a program to generate the reverse of a given number N. Print the corresponding reverse number.

Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

Sample Input 1 :
1234

Sample Output 1 :
4321

In [ ]:
num = 1234
# num = input("Enter the number")

reverse = 0
while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10

reverse

4321

# Pattern

<b>1.</b> Print the following pattern for the given N number of rows. <br>

Pattern for N = 4<br>

<pre>
A

BC

CDE

DEFG
</pre>

In [ ]:
n = 4
# n = input("Enter the number: ")
count = 0
for i in range(n):
    for j in range(i):
        print(chr(65 + count), end ="")
        count += 1
    print("")

A
BC
DEF

<b>2.</b> Print the following pattern for the given N number of rows.<br>

Pattern for N = 4<br>
<pre>
1

21

321

4321
</pre>

In [ ]:
n = 4
# n = input("Enter the number: ")
n += 1

for i in range(1, n, 1):
    for j in range(i, 0 , -1):
        print(j, end="")
    print("")

1
21
321
4321

<b>3.</b> Print the following pattern for the given N number of rows.<br>

Pattern for N = 3<br>
 <pre>
 A
    
 BB

 CCC
 </pre>

In [ ]:
n = 4
# n = input("Enter the number: ")
count = 0
for i in range(n):
    for j in range(i):
        print(chr(64 + count), end ="")
    count += 1
    print("")

A
BB
CCC

<b>5.</b> Print the following pattern for the given number of rows.<br>

Pattern for N = 5<br>
<pre>
E

DE

CDE

BCDE

ABCDE
</pre>

In [ ]:
#n = 5
n = input("Enter the number: ")

for i in range(1, n+1, 1):
    for j in range(i, 0 , -1):
        print(chr(65+n-j), end="")
    print("")

E
DE
CDE
BCDE
ABCDE

<b>6.</b> Write a program to print parallelogram pattern for the given N number of rows.<br>
<pre>
For N = 3
***
 ***
  ***
</pre>

In [ ]:
#n = 3
n = input("Enter the number: ")

for i in range(n):
    for k in range(i):
        print(" ", end="")
    for j in range(n):
        print("*",end="")

    print("")

***
 ***
  ***

<b>7.</b> Print the following pattern for the given N number of rows.<br>
<pre>
Pattern for N = 3
      1
     12
    123
</pre>

In [ ]:
#n = 3
n = input("Enter the number: ")
for i in range(1, n+1, 1):
    for k in range(i, n, 1):
        print(" ", end="")
    for j in range(1,i+1,1):
        print(j, end="")
    print("")

  1
 12
123

<b>8.</b> Write a program to print the pattern for the given N number of rows.<br>
<pre>
For N = 4

1357
3571
5713
7135
</pre>

In [ ]:
#n = 4
n = input("Enter the number: ")
count = 1
num = 0
multiplier = 1
for i in range(n-1):
    multiplier *= 10
for i in range(n):
    num = num * 10 + count
    count += 2
print(num)

for i in range(n-1):
    first_digit = num // multiplier
    temp = (num%multiplier)*10 + first_digit
    print(temp)
    num = temp

1357
3571
5713
7135