<a href="https://colab.research.google.com/github/deepakatAviSoft/deepak_avisoft/blob/main/29_01_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b>1.</b> Given an array/list(ARR) of length N, you need to find and return the sum of all the elements in the array/list.<br>

<b>Sample Input 1:<br></b>
3<br>
9 8 9<br>
<b>Sample Output 1:<br></b>
26

<b>2.</b> Given an array/list 'ARR' of integers and a position ‘M’. You have to reverse the array after that position.<br>

<b>Example:</b>
We have an array ARR = {1, 2, 3, 4, 5, 6} and M = 3 ,<br>
considering 0
based indexing so the subarray {5, 6} will be reversed and our
output array will be {1, 2, 3, 4, 6, 5}.

<b>3.</b> You are given an arbitrary array ‘arr’ consisting of N non-negative integers, where every element appears thrice except one. You need to find the element that appears only once.<br>
<b>Sample Input 1:</b><br>
4<br>
1 2 1 1<br>
<b>Sample Output 1:</b><br>
2

<b>4.</b> You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].<br>
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.<br>
You need to find and return that number which is unique in the array/list.<br>
Note:<br>
Unique element is always present in the array/list according to the given condition.<br>
<b>Sample Input 1:</b><br>
7<br>
2 3 1 6 3 6 2<br>
<b>Sample Output 1:</b><br>
1<br>
<b>Explanation:</b> The array is [2, 3, 1, 6, 3, 6, 2]. Here, the numbers 2, 3, and 6 are present twice, and the number 1 is present only once. So, the unique number in this array is 1.

<b>5.</b> You are given a number ‘N’ and a query ‘Q.’ If ‘Q’ is 1, then you have to return the sum of all integers from 1 to ‘N,’ else if ‘Q’ is equal to 2 then you have to return the product of all integers from 1 to ‘N.’ Since the product can be very large, return it modulo 10 ^ 9 + 7.<br>
For example<br>
Given <b>‘N’</b> = 4, <b>‘Q’ </b>= 1. <br>
Then the answer is 10 because the sum of all integers between 1 and 4 are 1, 2, 3, and 4. Hence 1 + 2 + 3 + 4 is equal to 10.<br>
<b>Sample Input 1 :</b><br>
2<br>
4 1 <br>
4 2<br>
<b>Sample Output 1 :</b><br>
10<br>
24 <br>
<b>Explanation of the Sample Input 1:</b><br>
In the first test case, the answer is 10 because all integers between 1 and 4 are 1, 2, 3, and 4. Hence 1 + 2 + 3 + 4 is equal to 10.<br>
In the second test case, the answer is 25 because all integers between 1 and 4 are 1, 2, 3, and 4. Hence 1 * 2 * 3 * 4 is equal to 24.<br>