<a href="https://colab.research.google.com/github/deepakatAviSoft/deepak_avisoft/blob/main/Assignement_for_weeknd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b>1.</b> Given a decimal number (integer N), convert it into binary and print.

Sample Input :
12

Sample Output :
1100

In [ ]:
num = int(input("Enter a Number: ")) #12
binary = bin(num)
print(binary[2:])

Enter a Number: 12
1100

<b>2.</b>
Given an integer N, print all the prime numbers that lie in the range 2 to N (both inclusive). <br>
Print the prime numbers in different lines.

Sample Input:
9

Sample Output:
2
3
5
7

In [ ]:
num = int(input("Enter a Number: "))
def checker(num):
  for i in range(2, int(num**0.5)+1, 1): #here we are finding the square root to optimize
    if  num % i == 0:
      return False
  return True

for i in range(2, num, 1):
  if checker(i):
    print(i)

Enter a Number: 12
2
3
5
7
11


<b>3.</b> Print the following pattern for the given number of rows.
<br>Pattern for N = 5
<pre>
           1
          232
         34543
        4567654
       567898765
</pre>

In [1]:
#n = int(input("Enter the number: "))
n = 5

for i in range(1, n+1, 1):
  for spaces in range(1, n-i+1, 1):
    print(" ", end="")

  for j in range(1,i+1,1):
    print(i+j-1, end="")

  count = 2*i-2
  for k in range(1,i,1):
    print(count, end="")
    count -= 1
  print()

    1
   23
  345
 4567
56789

In [7]:
n = 5
for i in range(1,n,1):
  for j in range(1,i+1,1):
    print(j, end='')
  print('*')

1*
12*
123*
1234*

In [ ]:
count = 0
for i in range(5):

<b>4.</b> Print the following pattern for the given number of rows. <br>
Note: N is always odd.<br>
Pattern for N = 5
<pre>
  *
 ***
*****
 ***
  *
</pre>

In [7]:
n = 5
n1 = n//2+1
n2 = n-n1
for i in range(1, n1+1, 1):
  for spaces in range(1, n1-i+1,1):
    print(' ', end="")

  for j in range(1, 2*i, 1):
    print('*', end="")

  print()

for i in range(1, n2+1, 1):
  for spaces in range(1, i+1, 1):
    print(" ", end="")
  for j in range(1, 2*(n2-i+1), 1):
    print("*", end="")

  print()

  *
 ***
*****
 ***
  *

In [ ]:
n = 5
for i in range(n):
  print()

<b>5.</b> Write a program to print triangle of user defined integers sum.

Sample Input :<br>
3<br>
Sample Output :<br>
1=1<br>
1+2=3<br>
1+2+3=6<br>

In [ ]:
n = 3
string = ''
add = ' + '
sum = 0
for i in range(1, n+1, 1):
  sum += i
  string += str(i)
  print(string, "=", sum)
  string += add

1 = 1
1 + 2 = 3
1 + 2 + 3 = 6

<b>6.</b> Check whether a given number ’n’ is a palindrome number.<br>
<b>Note :</b>
Palindrome numbers are the numbers that don't change when reversed.<br>
You don’t need to print anything. Just implement the given function.<br>
Example:<br>
Input: 'n' = 51415<br>
Output: true<br>
Explanation: On reversing, 51415 gives 51415.<br>

In [ ]:
n = 51415
temp = n
reverse = 0
while temp > 0:
  digit = temp % 10
  reverse = reverse * 10 + digit
  temp = temp // 10
if n == reverse:
  print("True")
else:
  print("False")

True

<b>7.</b> Print the following pattern for given number of rows.<br>
input N=5<br>
<pre>
 5432*
 543*1
 54*21
 5*321
 *4321
 </pre>

In [ ]:
for i in range(5):
  for j in range(5,i+1,-1):
    print(j, end="")
  print("*", end="")
  for k in range(i,0,-1):
    print(k,end="")
  print('')

5432*
543*1
54*21
5*321
*4321

1